body {
	background-image: url(./images/tord.svg);
	background-repeat: no-repeat;
	background-color: #1c2f3a;
}

.header {
	color: orange;
}

#wrapper { 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: 20%;
	margin-left: 25%;	
	width: 406px; 
	position: relative;
}

#wheel {
	width: 398px;
	height: 398px;
	border-radius: 50%;	
	position: relative; /*relative*/
	z-index: 2;
	left: 0;
	top: 0px;
	overflow: hidden;
	border: 10px solid #fff;
	box-shadow:
	 rgba(0, 0, 0, 0.2) 0px 0px 10px,
	 rgba(0, 0, 0, 0.05) 0px 3px 0px;
}

#innerWheel {
	width: 100%;
	height: 100%;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

#wheel div.sec {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 208px 114px 0; /*130 75*/
	border-color: #19c transparent;
	transform-origin: 109px 199px;
	left: 90px;
	top: 0px;	
	opacity: 1;
}

#wheel div.sec:nth-child(1) {
	transform: rotate(60deg);
	border-color: #f7f7f8 transparent;	
}

#wheel div.sec:nth-child(2) {
	transform: rotate(120deg);
	border-color: #21b573 transparent;	
}

#wheel div.sec:nth-child(3) {
	transform: rotate(180deg);
	border-color: #f7f7f8 transparent;
}

#wheel div.sec:nth-child(4) {
	transform: rotate(240deg);
	border-color: #21b573 transparent;	
}

#wheel div.sec:nth-child(5) {
	transform: rotate(300deg);
	border-color: #f7f7f8 transparent;
}

#wheel div.sec:nth-child(6) {
	transform: rotate(360deg);
	border-color: #21b573 transparent;	
}

#wheel div.sec .fa {
	margin-top: -100px;
	color: rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 10000000;
	display: block;
	text-align: center;
	font-size: 36px;
	margin-left: -15px;
	
	text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

#spin {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5), 0 0 10px rgba(0, 0, 0, 0.25) inset;
	z-index: 1000;
	background: #1c2f3a;
	cursor: pointer;
  user-select: none;   
}

#spin:after {
	content: "";	
	text-align: center;
	line-height: 68px;
	color: #CCC;
	text-shadow: 0 2px 0 #1c2f3a, 0 -2px 0 rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 100000;
	width: 68px;
	height: 68px;
	display: block;
}

#spin:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 28px 20px;
	border-color: transparent transparent #1c2f3a transparent;
	top: -22px;
	left: 29px;
}

#innerSpin > p{
	color: white;
	margin: 35px 0px 0px 28px;
	font-size: 20px;
}

#inner-spin {
	width: 54px;
	height: 54px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -27px;
	border-radius: 50%;
	background: red;
	z-index: 999;
	box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset,  rgba(0, 0, 0, 0.4) 0px 0px 5px ;

	background: radial-gradient(ellipse at center,  rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#eaeaea', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

#spin:active #inner-spin {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

#spin:active:after {
	font-size: 15px;	
}

/* Truth or Dare Buttons */
.cta-buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -300px 0 0 -96px;
}

.btn {
	background-color: transparent;
	display: inline-block;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.33;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}

.truth {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	padding: 8px 20px 8px 30px;
	background-color: #f7f7f8;
	color: #1c2f3a;
}
.dare {
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	padding: 8px 30px 8px 20px;
	background-color: #ff0077;
	color: #fff;
}

.truth:hover {
	background-color: rgba(255,255,255, 0.9);
}
.dare:hover {
	background-color: rgba(255,0,119,.9)
}
/* remove blue outline */
button:focus {
	outline:0;
}
/* Material Modal*/
.button-holder {
	margin-top: 31px;
	display: flex;
	justify-content: space-between;
}

.modal-button-right:hover {
	background-color: rgba(	33, 181, 115, .8) !important;
}
